@import "../../../css-config/mixins.scss";
.shop-by-category {
    margin: 25px 0;
    @include md {
        margin: 50px 0;
    }
    .categories {
        display: block;
        flex-flow: wrap;
        gap: 10px;
        justify-content: space-between;
        .category {
            cursor: pointer;
            display: flex;
            justify-content: space-around;
            gap: 10px;

            .category-cta {
                display: flex;
                justify-content: center;
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 500;
                width: 150px;
                border: 2px solid black;
                padding: 10px 20px;
                transition: all ease 0.3s;
                cursor: pointer;
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
}